.header {
    min-height: 120px;
    display: flex;
    align-items: center;
}

.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;

    @include mediaTablet {
        gap: 30px;
    }

    @include mediaMobile {
        flex-direction: column;
        padding-top: 20px;
    }
}

.header__search {
    width: 100%;
}

.form {
    display: flex;
    gap: 15px;
}

.form__search {
    background: $accent;
    padding: 15px 20px;
    width: 100%;
    border-radius: 25px;
}